# Source : https://www.pythoncentral.io/python-gitignore-clean-repository-management/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Fichiers et dossiers IDEA
.idea/
*.iml

# Cursor workspace complet
.cursor/
# macOS metadata
.DS_Store
**/.DS_Store


# Asset Bastien pour Tiled
assets/objects/box/1.png
assets/objects/box/2.png
assets/objects/box/3.png
assets/objects/box/4.png
assets/objects/box/5.png
assets/objects/castle/1.png
assets/objects/castle/2.png
assets/objects/castle/3.png
assets/objects/castle/4.png
assets/objects/castle/5.png
assets/objects/castle/6.png
assets/objects/castle/7.png
assets/objects/castle/8.png
assets/objects/castle/9.png
assets/objects/castle/10.png
assets/objects/castle/11.png
assets/objects/castle/12.png
assets/objects/castle/13.png
assets/objects/castle/14.png
assets/objects/castle/15.png
assets/objects/castle/16.png
assets/objects/castle/17.png
assets/objects/castle/18.png
assets/objects/castle/19.png
assets/objects/castle/20.png
assets/objects/castle/21.png
assets/objects/castle/Gate.png
assets/objects/decor/1.png
assets/objects/decor/2.png
assets/objects/decor/3.png
assets/objects/decor/4.png
assets/objects/decor/5.png
assets/objects/decor/6.png
assets/objects/decor/7.png
assets/objects/decor/8.png
assets/objects/decor/9.png
assets/objects/decor/10.png
assets/objects/decor/11.png
assets/objects/decor/12.png
assets/objects/decor/13.png
assets/objects/decor/14.png
assets/objects/decor/15.png
assets/objects/decor/16.png
assets/objects/decor/17.png
assets/objects/grass/1.png
assets/objects/grass/2.png
assets/objects/grass/3.png
assets/objects/grass/4.png
assets/objects/grass/5.png
assets/objects/grass/6.png
assets/objects/shadow/1.png
assets/objects/shadow/2.png
assets/objects/shadow/3.png
assets/objects/shadow/4.png
assets/objects/shadow/5.png
assets/objects/shadow/6.png
assets/objects/stone/1.png
assets/objects/stone/2.png
assets/objects/stone/3.png
assets/objects/stone/4.png
assets/objects/stone/5.png
assets/objects/stone/6.png
assets/objects/tent/1.png
assets/objects/tent/2.png
assets/objects/tent/3.png
assets/objects/tent/4.png
assets/tiles/FieldsTile_01.png
assets/tiles/FieldsTile_02.png
assets/tiles/FieldsTile_03.png
assets/tiles/FieldsTile_04.png
assets/tiles/FieldsTile_05.png
assets/tiles/FieldsTile_06.png
assets/tiles/FieldsTile_07.png
assets/tiles/FieldsTile_08.png
assets/tiles/FieldsTile_09.png
assets/tiles/FieldsTile_10.png
assets/tiles/FieldsTile_11.png
assets/tiles/FieldsTile_12.png
assets/tiles/FieldsTile_13.png
assets/tiles/FieldsTile_14.png
assets/tiles/FieldsTile_15.png
assets/tiles/FieldsTile_16.png
assets/tiles/FieldsTile_17.png
assets/tiles/FieldsTile_18.png
assets/tiles/FieldsTile_19.png
assets/tiles/FieldsTile_20.png
assets/tiles/FieldsTile_21.png
assets/tiles/FieldsTile_22.png
assets/tiles/FieldsTile_23.png
assets/tiles/FieldsTile_24.png
assets/tiles/FieldsTile_25.png
assets/tiles/FieldsTile_26.png
assets/tiles/FieldsTile_27.png
assets/tiles/FieldsTile_28.png
assets/tiles/FieldsTile_29.png
assets/tiles/FieldsTile_30.png
assets/tiles/FieldsTile_31.png
assets/tiles/FieldsTile_32.png
assets/tiles/FieldsTile_33.png
assets/tiles/FieldsTile_34.png
assets/tiles/FieldsTile_35.png
assets/tiles/FieldsTile_36.png
assets/tiles/FieldsTile_37.png
assets/tiles/FieldsTile_38.png
assets/tiles/FieldsTile_39.png
assets/tiles/FieldsTile_40.png
assets/tiles/FieldsTile_41.png
assets/tiles/FieldsTile_42.png
assets/tiles/FieldsTile_43.png
assets/tiles/FieldsTile_44.png
assets/tiles/FieldsTile_45.png
assets/tiles/FieldsTile_46.png
assets/tiles/FieldsTile_47.png
assets/tiles/FieldsTile_48.png
assets/tiles/FieldsTile_49.png
assets/tiles/FieldsTile_50.png
assets/tiles/FieldsTile_51.png
assets/tiles/FieldsTile_52.png
assets/tiles/FieldsTile_53.png
assets/tiles/FieldsTile_54.png
assets/tiles/FieldsTile_55.png
assets/tiles/FieldsTile_56.png
assets/tiles/FieldsTile_57.png
assets/tiles/FieldsTile_58.png
assets/tiles/FieldsTile_59.png
assets/tiles/FieldsTile_60.png
assets/tiles/FieldsTile_61.png
assets/tiles/FieldsTile_62.png
assets/tiles/FieldsTile_63.png
assets/tiles/FieldsTile_64.png
assets/tiles/FieldsTileset.png
assets/tiles/FieldsTilesetTest.png
assets/tower/mage/1 Upgrade/1.png
assets/tower/mage/1 Upgrade/2.png
assets/tower/mage/1 Upgrade/3.png
assets/tower/mage/1 Upgrade/4.png
assets/tower/mage/1 Upgrade/5.png
assets/tower/mage/1 Upgrade/6.png
assets/tower/mage/1 Upgrade/7.png
TMPassets/craftpix-net-865357-free-pixel-citizens-for-top-down-tower-defense.zip
